<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index</h1>
    <hr>
    <p>{{num1}}</p>
    <p>{{num2}}</p>
    <p>{{num1 > num2 ? num1:num2}}</p>
    <ul>
        {{ each arr }}
        <li> {{$index}}:{{$value}} </li>
        {{ /each }}
    </ul>
    {{if num1 < num2}}
        <p>conditional show</p>
    {{/if}}
</body>
</html>