<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registration Page</h1>
    <form action="/register" method="POST" enctype="application/x-www-form-urlencoded">
        <p>username: <input type="text" name="username" placeholder="username"></p>
        <p>e-mail: <input type="text" name="email" placeholder="email"></p>
        <p>password: <input type="password" name="password"></p>
        <p>re-password: <input type="password" name="repwd"></p>
        <p><input type="submit" value="registration"></p>
    </form>
</body>
</html>